/* ============================HEADER===================================== */
.header-bg { 
  background-color: var(--c12)
}

.header { 
  display: flex;
  justify-content: space-between;
align-items: center;
flex-wrap: wrap;

gap: 1.2rem;
padding: 1.2rem;

}

.menu {
  display: flex; 
  flex-direction: row;
  gap: 2.5rem; 


}
.menu a { 
padding: 1rem 0;
color: white;
  
position: relative;
display: inline-block;
}


.menu a:after{ 
  content: "";
display: block;
position: absolute;

height: 2px;
width: 0px;

background-color: var(--c1);

transition: .3s;

}
  
.menu a:hover::after{
  width: 100%;
}

/* ============================MEDIA-QUERIES-HEADER===================================== */
@media(max-width: 800px){
.menu a{ 
background-color: var(--c11);
padding: 0.5rem 1rem;
border-radius: 0.2rem; 
transition: 340ms;

}
.menu {gap: .6rem;}

.menu a:hover{ 
  background-color: var(--c10);
text-decoration: none;

}
.header a:after{ display: none;}
}

@media(max-width: 600px){
  .menu{ 
    gap: .4rem; 
      }
.menu a { padding: 0.3rem 0.5rem;
font-size: 0.9rem;}

.menu a:hover{ 
  background-color: var(--c10);
text-decoration: none;
    }
  }