/* ============================COLORS-FONTS==================================== */


:root 
{--c12: #000;
  --c11: #121212;
  --c10: #2E2E2E;
  --c9: #404040;
  --c8: #595959;
  --c7: #707070;
  --c6: #9C9C9C;
  --c5:  #B3B3B3;
  --c4:  #CCCCCC;
  --c3: #DEDEDE;
  --c2: #EDEDED;
  --c1: #F7F7F7;
  --white: #FFFFFF;
  --a1: #FFBB00;
  --a2: #E5A40B;
  --a3: #A66F00;
  --a4: #664400;
  --a5: #332200;
--gradiente: 
linear-gradient(#FFBB00, #A66F00);
 --gradiente-hover:linear-gradient(#ffb60d, #e59317) ; 









/* ================FONTES================== */


--poppins:font-family: 'Poppins';


--roboto: font-family: 'Roboto';
  
 


}


.c12 { 
color: var(--c12);
}

.c11 { 
 color: var(--c11);
}
.c10 { 
color:  var(--c10);
}
.c9 { 
 color: var(--c9);
}
.c8 { 
 color: var(--c8);
}
.c7 { 
 color: var(--c7);
}
.c6 { 
color:  var(--c6);
}
.c5 { 
  color: var(--c5);
}
.c4 { 
 color: var(--c4);
}

.c4 { 
  color: var(--c4);
 }
 .c3 { 
  color: var(--c3);
 }
 .c2 { 
  color: var(--c2);
 }
 .c1 { 
  color: var(--c1);
 }
 .white { 
  color: var(--white);
 }

 .c-p-1{ color: var(--a1);}
 .c-p-2{ color: var(--a2);}
 .c-p-3{ color: var(--a3);}
 .c-p-4{ color: var(--a4);}
 .c-p-5{ color: var(--a5);}


 /* ===================================================================
 =============================/FONTES/===========================
 ================================================================
 */



 .font-1-xxl{
  font-family:  var( --poppins);
  font-size: 4rem;
line-height: 1.125;
 }

 .font-1-xl{
  font-family:  var( --poppins);
   font-size: 1.5rem;
  line-height: 125%;
 }


 .font-1-l{
  font-family:  var( --poppins);
  font-size: 1.5rem;
  line-height:150%;
 }


 .font-2-l{
  font-family:  var( --roboto);
  font-size: 1.5rem;
  line-height: 150%;
 }


 .font-2-l-b{
  font-family:  var( --roboto);
  font-weight: 500;
font-size: 1.5rem;
line-height: 150%;
letter-spacing: 0.015em;
text-transform: uppercase;
 }

 .font-1-m{
  font-family:  var( --poppins);
    font-size: 1.1rem;
  line-height: 133%;
  
 }

 .font-1-m-b{
  font-family:  var( --poppins);
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 133%;
 }
 


 .font-2-m{
  font-family:  var( --roboto);
  font-size: 1.1rem;
  line-height: 133%;
 }
 
 
 .font-1-s{
  font-family:  var( --poppins);
  font-size: 1rem;
  line-height: 150%;
 }
 
 
 .font-2-s{
  font-family:  var( --roboto);
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
 } 
 
 
 .font-2-xs{
  font-family:  var( --roboto);
  font-size: 0.8rem;
  line-height:143%;
 };
 
 
 .font-1-xs{
  font-family:  var( --poppins);
  font-weight: 600;
  font-size: 0.6rem;
  line-height:133%;
}



@media(max-width: 900px) { 
  
 .font-1-xl{ 
    font-size: 3rem;
  }
  
  .font-2-l{
    font-size: 1.125rem;
   
  }
}


@media(max-width: 800px) { 
  
  .font-1-xl{ 
     font-size: 2rem;
   }}


   
   .ponto{
    color: var(--a1);
    font-family: "Roboto";}
    
